
    body {
      background-color: #fef7f6;
      color: #333;
      font-family: Arial, sans-serif;
    }

    header {
      background-color: #fff;
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
    }

    header h1 {
      font-size: 24px;
      color: #a45e61;
    }

    header p {
      font-size: 14px;
      color: #555;
    }

    .button .btn .btn-primary  {
      background-color: #6F6A58;
      color: white;
    }

    button:hover {
      background-color: #6F6A58;
    }

    main {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin: 30px 0;
      padding: 20px;
    }

    main h2 {
      color: #a45e61;
    }

    .image-wrapper img {
      border-radius: 8px;
      width: 100%;
    }
